<!DOCTYPE html>
<html ng-app="battleRacing">
    <head>
        <title>Star Wars: The Battle Racing</title>
        <link rel="stylesheet" href="style.css" type="text/css" />
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" type="text/css" />
        <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
        <script src="https://code.jquery.com/jquery-2.2.2.js"></script>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script>
        <script src="js/jquery.mb.audio.js"></script>
        <script src="js/main.js"></script>
    </head>
    <body class="mobile-body">
        <div id="main-wrapper" ng-controller="basicController">
            <img src="images/Star_Wars_Logo3.png"></img>
            <div class="mobile" ng-show="isMobile">
                <form id="main-form" class="form-inline" ng-show="!displayFlyers">
                    <div id="error" ng-model="error" ng-show="error">{{error}}</div>
                    <div class="form-group">
                        <label for="login">NICK</label>
                        <input type="text" name="login" id="login" class="form-control" ng-model="login"/>
                    </div>
                    <button type="submit" id="play" class="btn" ng-click="play()">PLAY</button>
                </form>
                <div id="flyers" ng-show="displayFlyers">
                    <div class="col-md-4 flyers-item" ng-click="chooseShip(1)">
                        <h3>The Millennium Falcon</h3>
                        <img src="images/SpaceShuttle1.png" width="200px"></img><br/>
                        The Millennium Falcon was a Corellian YT-1300 light freighter used by the smugglers Han Solo and Chewbacca during the Galactic Civil War.
                    </div>
                    <div class="col-md-4 flyers-item" ng-click="chooseShip(2)">
                        <h3>T-65 X-wing</h3>
                        <img src="images/SpaceShuttle2.png" width="200px"></img><br/>
                        The Incom T-65 X-wing starfighter was the primary all-purpose starfighter of the Rebel Alliance and its successor governments. Known for its versatility and exceptional combat performance, it was a favorite with Rebel and New Republic pilots.
                    </div>
                    <div class="col-md-4 flyers-item" ng-click="chooseShip(3)">
                        <h3>TIE Fighter</h3>
                        <img src="images/SpaceShuttle3.png" width="200px"></img><br/>
                        The TIE Fighter was the standard Imperial starfighter seen in massive numbers throughout most of the Galactic Civil War and onward. Colloquially, Rebel and New Republic pilots referred to the craft as "Eyeballs".
                    </div>
                </div>
            </div>
            <div ng-show="!isMobile">
                <button type="submit" id="play" class="btn" ng-click="viewBattleField()">VIEW BATTLEFIELD</button>
            </div>
        </div>
        <audio id="march" src="audio/march.mp3" loop="loop"></audio>
    <script>

    </script>
    </body>
</html>